<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>todoList</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'todoApp/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret One|Raleway">
</head>
<body>
    <div class="container">
        <h1 class="heading">To Do List</h1>
        <div class="list-div">
            <ol class="list">
                {% for item in list_items %}
                    <li>{{ item.text }}
                        <form class="form-del" action="/deleteItem/{{ item.id }}/" method="POST">{% csrf_token %}
                            <input type="submit" value="Delete">
                        </form>
                    </li>
                {% endfor %}
            </ol>
            <form class="form-add" action="/addItem/" method="POST">{% csrf_token %}
                <input type="text" name="inputText">
                <input type="submit" value="Add Item">
            </form>
            <div class="hline"></div>
        </div>
    </div>
</body>
</html>

